.slider {
	max-width: min(90%, 1200px);
	width: 100%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.actions {
	display: flex;
}

.button {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 0 5px;
	cursor: pointer;
	width: 100%;
}

.button:hover {
	background: #ccc;
}
